/* section content ဧရိယာကို width height border တို့ဖြင့်သတ်မှတ်ပေးထားသည်။ */

section {
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid black;
}
/* အပုံလေးပုံကို width height 200px၊ margin သည် element တခုနှင့်အခြား element တခုကိုမရောထွေးအောင်ခြားပေးထားသော အကြားခံတခုဖြစ်သည်၊
အပုံးလေးပုံအကြားကို 23px ခြားပေးထားပါသည်။ padding သည် အပုံတပုံခြင်းစီ၏ content ဧရိယာကို content နဲ့ border ကြားမှာ space ပေးပါသည်၊
အပုံလေးပုံကို 22 px ခြားပေထားပါသည်။ border သည် element ရဲ့ အနားစက်ဖြစ်ပြီး, thickness, style, နဲ့ color ကို သတ်မှတ်နိုင်ပါသည်၊
အပုံလေးပုံကို solid 4px ဖြင့်ထားပါသည်။ */
img {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 23px;
    padding: 22px;
    border: solid 4px;
}